/* Mobile-First */
* { 
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family:'Courier New',Courier, monospace;
    margin: 0;
    padding: 0;
}
.content {
    margin-top: 0px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper > * {
    flex-basis: 100%;
    flex-grow: 1;
}
.background {
    padding: 5rem;
    background-image: url(../img-folder/contact-heading-bg.jpg);
    /* Image: Carlos Aranda, Unsplash */
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
}
h1 {
    color: white;
    font-size: 32px;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0;
}
.details {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 0;
    border: solid 5px lightgray;
    border-radius: 0;
    padding: 0;
    background-color: lightgray;
    text-align: center;
}
h3 {
    font-size: 18.72px;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#25316D;
}
p {
    font-size: 16px;
}
.address {
    font-size: 18.72px;
    color: black;
}
hr {
    width: 20%;
    opacity: 70%;
    background-color: #25316D;
    height: 2px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.details a {
    text-decoration: none;
    color: black;
    font-size: 18.72px;
    line-height: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.some {
    padding: 1rem;
    font-size: 30px;
}
.some a:hover, .info .details a:hover {
    color:#25316D;
    cursor: pointer;
}
.opening-hours {
    text-align: center;
    line-height: 10px;
    padding-bottom: 1rem;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
td {
    text-align: left;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 15px;
    font-size: 18.72px;
}
.form-box {
    font-size: 16px;
    border: none;
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 0;
}
.contact {
    padding-bottom: 1rem;
}
.contact h2 {
    color: #25316D;
    font-size: 24px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.form-label {
    color: black;
    font-size: 16px;
}
.required:after {
    content:"*";
    color: red;
    font-size: 85%;
}
.form-control {
    padding: 3px;
    font-size: 16px;
}
.form-select-lg{
    font-size: 16px;
}
.btn-default {
    border-radius: 7px;
    width: 35%;
    align-items: center;
    background-color: #25316D;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 1rem;
}
.btn-default:hover {
    cursor: pointer;
    background-color: #f44336;
    color: white;
}
/* Small Screens */
@media only screen and (max-width: 759px){
    .content {
        margin-top: -1.5rem;
    }

    .map {
        display: none;
    }

}
/* Medium Screens */
@media only screen and (min-width: 760px){
    .background {
        padding: 8rem;
    }
    .only-small-screen {
        display: none;
    }
    .map {
        flex-grow: 1;
        flex-basis: 0;
    }
    .form-box {
        margin-top: 2rem;
    }
}
/* Large Screens */
@media only screen and (min-width:1024px){
    .content {
        margin-top: 120px;
    }

    .background {
        padding: 12rem;
    }
    .info {
        padding: 2rem;
    }
    .details {
        margin-right: 1rem;
        border-radius: 10px;
        padding: 2rem;
    }
    .only-small-screen {
        display: none;
    }
    .map {
        flex-grow: 2;
        flex-basis: 0;
    }
    .form-box {
        margin-top: 0;
        border: 2px solid lightgray;
        border-radius: 10px;
        padding: 2rem;
        margin-bottom: 3rem;
    }
}



